snippet und "undefined"
undefined
endsnippet

snippet er "error todo"
error "todo"
endsnippet

snippet puts "putStrLn"
putStrLn $0
endsnippet

snippet der "deriving"
deriving ($0)
endsnippet

snippet imp "import"
import $0
endsnippet

snippet impo "import"
import $0
endsnippet

snippet impq "import qualified"
import qualified $1 as $0
endsnippet

snippet des "describe"
describe "$1" $ do
	$2
endsnippet

snippet it "it"
it "$1" $ do
	$2
endsnippet
