snippet fun "function"
fun $1 ($2) =
	$0
endsnippet

snippet funr "recursive function"
fun $1 ($2) = $3
  | $1 ($4) = $0
endsnippet

snippet if "if"
if $1 then
	$2
else
	$3
endsnippet

snippet des "describe"
describe("$1", [
	$0
])
endsnippet

snippet it "it"
it_("$1", $0),
endsnippet

snippet spec "include smell spec file"
use "/Users/davidpdrsn/projects/smell-spec/smell-spec.sml";
endsnippet

snippet let "let expression"
let
	$1
in
	$0
end
endsnippet
