<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.benzi.a2w.battery</string>
	<key>connections</key>
	<dict>
		<key>3917FDAB-460E-4C28-A4A9-645B9773F34A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC5EB146-FA11-4E33-8456-F60EA94E7EEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Benzi Ahamed</string>
	<key>description</key>
	<string>Displays information about your laptop battery</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Battery</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>battery</string>
				<key>runningsubtext</key>
				<string>Displays information about your battery, retrieving...</string>
				<key>script</key>
				<string>sh ./battery.sh</string>
				<key>subtext</key>
				<string>Displays information about your battery</string>
				<key>title</key>
				<string>Battery</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FC5EB146-FA11-4E33-8456-F60EA94E7EEE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3917FDAB-460E-4C28-A4A9-645B9773F34A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3917FDAB-460E-4C28-A4A9-645B9773F34A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FC5EB146-FA11-4E33-8456-F60EA94E7EEE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>benzi-ahamed.tumblr.com</string>
</dict>
</plist>
